.searchBox
{
    /* padding: 10px; */
    vertical-align: middle;
    text-align: center;

}

.search
{
    border-radius: 50px;
    border: none;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    width:270px;
    background-color: rgb(183, 147, 253);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: white;
}

.search::placeholder
{
    color: white;
}

.search:focus{
    outline: none;
}

.btn
{
    background-color: rgb(77, 77, 247);
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
}