body{
  font-family: 'Lato', sans-serif;
}
.box
{
  text-align: center;
  display: inline-block;
  width:850px;
}

.namesBox{
  text-align: center;
  display: inline-block;
  height: auto;
  max-height: 410px;
  overflow-y: scroll;
  scroll-behavior: smooth;

}
*{
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgb(77, 77, 247) rgba(0,0,0,0);   /* scroll thumb and track */
}
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background-color: rgb(77, 77, 247); */
    /* background-color: #282d4f; */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    /* border: 3px solid rgb(209, 208, 208); */
    border: none;
  }

  .scrollEnd::-webkit-scrollbar-thumb
  {
    display: none;
  }

.scrollUp, .scrollDown
{
  padding: 10px;
  margin: 10px;
  background-color: #282d4f;

  border-radius: 70%;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border:none;
  box-shadow: 0 0 5px rgba(240, 240, 240, 0.2);
  color: white;
}

.scrollUp:focus, .scrollDown:focus{
  outline: none;
}

.scrollUp:hover, .scrollDown:hover{
  background-color: #4a5079;
  cursor: pointer;
  
  box-shadow: 0 0 5px rgba(240, 240, 240, 0.5);
}
.scrollDown:active{
  transform: translateY(4px);
}

.scrollUp:active
{
  transform: translateY(-4px);
}

.noScrollDown, .noScrollUp
{
  display: none;
}
