.namesBox
{
    text-align: center;
    display: inline-block;
    width:850px;
    max-height: 78%;
    overflow-y: scroll;
}

*{
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgb(77, 77, 247) rgba(0,0,0,0);   /* scroll thumb and track */
}
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background-color: rgb(77, 77, 247); */
    /* background-color: #282d4f; */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    /* border: 3px solid rgb(209, 208, 208); */
    border: none;
  }


